*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY */
body{
    background-color: #3F4E4F;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */

header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #A27B5C;
    position: sticky;
    top: 0;
    z-index: 5000;
}

header nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

header nav ul {
    display: flex;
    width: 100%;
    height: 80%;
    list-style: none;
    justify-content: space-around;
}

header nav ul li{
    display: flex;
}

header nav ul li a{
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: #fff;
    font-size: 25px;
    background-color:#2C3639;
    text-decoration: none;
}
.logo-img{
    background-color: #fff;
    height: 100%;
}
header nav ul li a:hover{
    background-color:#435257;
}

/* -------------------------------------------------------------------------- */
/*                                    MAIN                                    */
/* -------------------------------------------------------------------------- */

.presentacion{
    display: flex;
    width: 100%;
    scroll-margin: 60px;

}
.presentacion h1{
    font-size: 60px;
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #2C3639;
}

/* -------------------------------------------------------------------------- */
/*                                    JUEGO                                   */
/* -------------------------------------------------------------------------- */
.container-juego{
    width: auto;
    height: auto;
    scroll-margin-top: 60px;
    overflow: hidden;
}


#juego{
    background-color: #3c6875;
    border: solid 2px #A27B5C;
    display: flex;
    width: 1980px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

/* FONDO */

#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../src/img/calle.jpg);
    background-repeat: repeat-x;
    background-size: contain;
}
#fondo img{
    position: absolute;
    width: 0;
    height: 100%;
}

/* JUGADOR */

#player{
    z-index: 1000;
    position: absolute;
    width: 70px;
    height: 80px;
    top: 260px;
    left: 50px;
    background-color: blue;
}
#player img{
    width: 100%;
    height: 100%;
}
#player h2{
    width: 100%;
    position: absolute;
    color: #fff;
    font-size: 15px;
    text-align: end;
}


/* OBSTACULOS */
.auto{
    background-color: red;
    position: absolute;
    width: 250px;
    height: 100px;
}
.auto img{
    width: 100%;
    height: 100%;
}

#auto{
    background-color: red;
    position: absolute;
    width: 250px;
    height: 100px;
    top: 50%;
    left: 37%;
}

/* ENEMIGO */
.enemy{
    z-index: 999;
    position: absolute;
    width: 70px;
    height: 80px;
    background-color: grey;
}
.enemy img{
    width: 100%;
    height: 100%;
}
#enemy{
    z-index: 999;
    position: absolute;
    width: 70px;
    height: 80px;
    background-color: grey;
    top: 50%;
    left: 50%;
}

/* proyectil */

.bala{
    position: absolute;
    z-index: 20;
    width: 10px;
    height: 10px;
    background-color: yellowgreen;
    object-fit: cover;
}
.bala img{
    width: 100%;
    height: 100%;
}

/* CARTEL */

.cartel{
    position: absolute;
    z-index: 20;
    width: auto;
    height: 30px;
    color: #fff;
    top: 570px;
    left: 0px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
}
.cartel h2{
    width: 100%;
    height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 INFORMACION                                */
/* -------------------------------------------------------------------------- */
.informacion{
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-margin: 60px;
    border-top: solid 1px #A27B5C;
    border-bottom: solid 1px #A27B5C;

}
.info-Title{
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #3F4E4F;
    font-size: 300%;
    font-weight: bold;
}

.art-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "txt img";
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    justify-content:center;
    border-top: solid 1px #A27B5C;

}

.info-container{
    grid-area: txt;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 5% 2% 5%;
    align-items: center;
    text-align: center;
    color: #fff;
}
.info-container2{
    grid-area: img;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 5% 2% 5%;
    align-items: center;
    text-align: center;
    color: #fff;
}
.info-video{
    grid-area: txt;
    display: flex;
    justify-content: center;
    width: 90%;
}

.info-container h2{
    font-size: 200%;
    font-weight: bold;
    width: 100%;
}
.info-container p{
    width: 100%;
}

.info-img{
    grid-area: img;
    display: flex;
    justify-content: center;
    width: 90%;
}




/* -------------------------------------------------------------------------- */
/*                                   CREADOR                                  */
/* -------------------------------------------------------------------------- */

.creador{
    display: flex;
    flex-direction: column;
    scroll-margin: 60px;
    border: solid 1px #A27B5C;
    border-bottom: none;
    margin: 1%;
}
.creador-title{
    color: #fff;
    font-size: 300%;
    text-align: center;
    width: 100%;
}
.creador-opciones{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    color: #fff;
    font-size: 150%;
    text-align: center;
}
.opcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opcion-ancla{
    display: flex;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #A27B5C;
    justify-content: center;
    align-items: center;
}
.ancla-img{
    display: flex;
    width: 70%;
    object-fit: contain;
}

.acercaDeMi{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #A27B5C;
    background-color: #b38e70;
    margin: 2%;
    padding: 2%;
    text-align: center;
    color: #fff;
}
.acercaDeMi h2{
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 2%;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTACTO                                  */
/* -------------------------------------------------------------------------- */

.contacto{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "siguenos formulario";
    border: solid 1px #A27B5C;
    border-top: none;
    scroll-margin: 60px;
    margin: -1% 1% 1% 1%;
    padding: 1%;
}

.siguenos{
    grid-area: siguenos;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.sig-tit{
    width: 100%;
    font-size: 200%;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.mail{
    display: flex;
    flex-direction: row;
    margin: 1%;
}
.mail a{
    display: flex;
    flex-direction: row;
    margin: 1%;
    text-decoration: none;
}
.mail-icon{
    margin-right: 5%;
    width: 40px;
    height: 40px;
}
.mail h3{
    margin: auto;
    width: 100%;
    font-size: 150%;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


.sig-redes{
    width: 100%;
    font-size: 200%;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4%;
}
.redes{
    display: flex;
    width: 100%;
    margin: 1%;
    flex-direction: row;
    justify-content: space-evenly;
}
.redes a{
    width: 40px;
    height: 40px;
}
.redes a img{
    width: 100%;
    height: 100%;
}



.container-formulario{
    grid-area: formulario;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.for-tit{
    width: 80%;
    font-size: 200%;
    color: #fff;
    font-weight: bold;
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
}
.formulario label{
    font-size: 150%;
    font-weight: bold;
    color: #fff;
}
.formulario input{
    margin-bottom: 1%;
    background-color: #3c6875;
    border: solid 1px black;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.formulario textarea{
    margin-bottom: 1%;
    background-color: #3c6875;
    border: solid 1px black;
    border-radius: 5px;
    width: 100%;
    height: 80px;
}



